.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.header a:hover {
  text-decoration: underline;
}

.header__right {
  display: flex;
  margin-left: auto;
  min-width: 13vw;
  justify-content: space-between;
  align-items: center;
}

.header__right .header__apps {
  margin-right: 10px;
}
